@import "compass"

$footer-height: 100px

=fonts($weight)
    font-family: "Helvetica Neue", Helvetica
    font-weight: $weight

body
    background: image-url('bg.png')
    font-family: Constancia, Georgia, serif

h1, h2, h3, h4, h5, h6, .navbar
    margin: 0

ul .header  
    font-size: 25px
    .glyphicon
        font-size: 20px

ul
    list-style-type: none

.navbar
    border-radius: 0
    +fonts(200)
    +box-shadow(0px 1px 3px #2a2a2a)
    background: image-url('navbar.png')

.navbar-inverse, a.navbar.brand
    +fonts(100)
    color: white

.hero
    background: image-url('hero.jpeg') no-repeat center center fixed
    height: 370px
    +background-size(cover)
    +box-shadow(0px 3px 8px #2a2a2a)

.frosty
    background: rgba(0,0,0,0.5)
    color: white
    h1
        +fonts(100)
    h2
        +fonts(200)
    h1, h2
        +text-shadow(rgba(0,0,0,0.95) 1px 1px 0)

.btn
    border-radius: 0
    
.booyah-box
    +box-shadow(1px 1px 2px 0 #d0d0d0)
    background: #fff
    border: 1px solid #ccc
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4
    padding: 10px
    h1, h2
        margin: 10px

.notice, .alert
    margin-bottom: 0px
    
.clr
    clear: both
    
.field_with_errors
    color: #f33
    background-color: #fee
    border-radius: 3px
    padding: 8px
    margin: 10px
.site
    display: flex
    min-height: 100vh
    flex-direction: column

.site-content
    flex: 1

footer
    height: $footer-height
    color: white
    background-color: rgba(36,32,33,0.9)
    font-family: "Helvetica Neue",Helvetica
    a
        color: white
        font-weight: 100
    a:hover
        color: white
    
.aligner
    display: flex
    align-items: center
    justify-content: center
    
.aligner-item
    max-width: 50%
    
.lesson
    background-color: black
    margin-top: 10px
    height: 130px
    a
        color: white
        +fonts(100)
        font-size: 15px
    a b
        font-weight: 100
        font-size: 25px
.lessons li
    background: black
    color: white
    margin: 10px
    padding: 8px
    font-size: 15px
    +fonts(100)
    b
        font-size: 25px
        font-weight: 100
    p
        margin: 0
        
    
.section
    border: 1px solid
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4
    padding: 20px
    &-li
        border: 1px solid
        border-color: #e4e4e4 #bebebd #bebebd #e4e4e4
        padding: 20px
        margin: 20px
    
.social
    a:hover
        text-decoration:none
        color: white
        margin: 10px
        +fonts(100)
        padding: 8px
        font-size: 15px
        b
            font-size: 25px
            font-weight: 100
        p
            margin: 0
    &-button
        width: 32px
        margin: 4px
        
.vlm
    position: relative
    top: 50%
    -webkit-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)

.vlmp
    -webkit-transform-style: preserve-3d
    -moz-transform-style: preserve-3d
    transform-style: preserve-3d
    

